<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 2017～2024 Cowave All Rights Reserved.

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.sys.admin.api.mapper.SysAttachMapper">
    <sql id="attachField">
        a.attach_id     attachId,
        a.master_id     masterId,
        a.attach_group  attachGroup,
        a.attach_type   attachType,
        a.attach_name   attachName,
        a.attach_size   attachSize,
        a.attach_path   attachPath,
        a.attach_status attachStatus,
        a.is_public     isPublic,
        a.create_time   createTime,
        a.expire_time   expireTime
    </sql>

    <select id="list" resultType="com.cowave.sys.model.admin.SysAttach">
        select
        <include refid="attachField"/>
        from sys_attach a
        where attach_group = #{attachGroup} and attach_type = #{attachType} and master_id = #{masterId}
        order by create_time desc
    </select>

    <select id="info" resultType="com.cowave.sys.model.admin.SysAttach">
        select
        <include refid="attachField"/>
        from sys_attach a where attach_id = #{attachId}
    </select>

    <select id="latestOfMaster" resultType="com.cowave.sys.model.admin.SysAttach">
        select
        <include refid="attachField"/>
        from sys_attach a where attach_status = 1 and attach_group = #{attachGroup} and master_id = #{masterId}
        order by create_time desc limit 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="attachId" keyColumn="attach_id">
        INSERT INTO sys_attach(master_id,attach_group,attach_type,attach_name,attach_size,attach_path,
                               create_time,attach_status,is_public)
        values(#{masterId},#{attachGroup},#{attachType},#{attachName},#{attachSize},#{attachPath},
               #{createTime},#{attachStatus},#{isPublic})
    </insert>

    <delete id="delete">
        delete from sys_attach where attach_id = #{attachId}
    </delete>

    <update id="updateMasterById">
        update sys_attach set attach_status = 1, master_id = #{masterId} where attach_id = #{attachId}
    </update>

    <update id="masterUpdate">
        update sys_attach set attach_status = 1, master_id = #{masterId}
        where attach_id in
        <foreach collection="list" item="attachId" open="(" separator="," close=")">
            #{attachId}
        </foreach>
    </update>

    <update id="masterClear">
        update sys_attach set attach_status = 0
        where attach_group = #{attachGroup} and attach_type = #{attachType} and master_id = #{masterId}
    </update>

    <delete id="masterDelete">
        delete from sys_attach where attach_group = #{attachGroup} and attach_type = #{attachType} and master_id = #{masterId}
    </delete>
</mapper>
